{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos libero odit quae esse dolore molestiae laboriosam molestias sapiente, voluptatum unde delectus iure, similique commodi cum laborum autem aliquam amet animi dolor? Ad, inventore amet aliquam pariatur velit nesciunt aperiam alias molestiae quo, impedit quidem, sapiente laudantium tempora quisquam fuga! Maxime magni at maiores qui accusamus, velit rerum quo corporis voluptas cupiditate, nisi dolores itaque quidem aspernatur. Quam est neque vero. Modi consequatur sunt deleniti in aspernatur inventore ad id quos obcaecati molestias ut cum fugiat aut, dolorem eveniet doloremque non ipsa repellat, praesentium minima laboriosam. Quam aliquam facere porro placeat.</p>        
    
    
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}
